/* dashboard admin*/

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
}


body {
    font-family: OpenSansLight, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 15px/1 'Open Sans', sans-serif;
    color: #777;
}



*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 15px/1 'Open Sans', sans-serif;
    color: #777;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 15px/1 'Open Sans', sans-serif;
    color: #777;
}


#main_container {
    display: flex;
    min-height: 100%;
}

nav {
    width: 200px;
    background-color: #2C2E2F;
    min-width: 180px;
}

nav header {
    position: relative;
    height: 120px;
    padding: 20px 0 0 15px;
    font-size: 16px;
    color: #fff;
    background-color: #2C2E2F;
    vertical-align: middle;
}


#separator{
    padding-top: 0px;
    margin-top: 0px;
    border-width: 2px;
    border-color: white;
}

#separator2{
    margin: 40px -20px 60px -20px;
    border-width: 40px;
    border-color: white;
}
.sidenav a:hover {
    text-decoration: none;
    color: white;
}


#services, #guests{
    font-size: 20px;
    color: #979898;
    padding-left: 14px;
    padding-top: 10px;
}

#servicesList{
    list-style-type: none;
    background-color: #2C2E2F;

}


#itemDropdown:hover {
    background-color: #2C2E2F;
    color: white;
}

#itemDropdown{
    color: #979898;
    position: relative;
    display: block;

}

main {
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
}


main > a {

    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 400;
    z-index: 0;
    position: absolute;
}

main #formLayout{
    flex: 1;

}

.flex-grid, #flexNavbar{
    display: flex;
}


.flex-grid > a, .flex-grid > div{
    flex: 1;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    background: #fff;
    padding: 40px 20px 40px 20px;
    font-size: 2vw;
    border-radius: 0px;
}


#bookingsBtn {
    background-image: url("../img/admin/calendar.png");
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: right center;
    border-bottom: 20px solid #2160A6;
}

#checkInBtn {
    background-image: url("../img/admin/leftArrow.png");
    background-size: 70%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: right center;
    border-bottom: 20px solid #004101;
}

#checkOutBtn {
    background-image: url("../img/admin/rightArrow.png");
    background-size: 40%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center center;
    border-bottom: 20px solid #880015;
}

#newBookingBtn{
    background-image: url("../img/admin/plusCalendar.png");
    background-size: 40%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: right center;
    border-bottom: 20px solid #272727;
}



#dispatchedOrdersList{
    list-style-type: none;
}

#dispatchedOrdersList > li{
    border: 1px solid #979898;
    padding: 10px;
    text-align: left;
    font-size: 1vw;
}


#pendingOrdersCard{
    margin-left: 25%;
    margin-top: 3%;
    /*max-height: 200px;*/
}

#dispatchedOrdersCard{
    margin-top: 3%;
}

#pendingOrdersHeader{
    background-color: #F39C12;
    color: white;
}

#dispatchedOrdersHeader{
    background-color: #218838;
    color: white;
}

#pendingOrdersBody{
    border-style: solid;
    border-color: #F39C12;
}

#dispatchedOrdersBody{
    border-style: solid;
    border-color: #218838;
}

/*CHECK-IN FORM*/


#checkInForm{
    margin-left: 35%;
    margin-top: 3%;
}

#checkInTitle{
    margin-left: 30%;
    margin-right: 11.7%;
    margin-top: 3%;
    padding: 10px;
    color: white;
    background-color: #28A745;
}

#checkInTable{
    margin-left: 30%;
    background-color: white;
    padding: 0px;
    border-bottom: #28A745 20px solid;
    font-size: 1vw;
}



/*CHECK-OUT*/


#checkOutTitle{
    margin-left: 30%;
    margin-right: 11.7%;
    margin-top: 3%;
    padding: 10px;
    color: white;
    background-color: #DC3545;
}

#paymentsTable{
    margin-left: 30%;
    background-color: white;
    padding: 0px;
    border-bottom: #DC3545 20px solid;
    font-size: 1vw;
}

#iconBtn{
    color: #0b2e13;
}


#exitBtn{
    background-color: #DC3545;
    color: white;
}


/* GUESTS*/

/*
#manageGuestsTitle {
    margin-left: 25%;
    margin-right: 8.5%;
    margin-top: 3%;
    padding: 10px;
    color: white;
    background-color: #6C757D;
}*/

#guestsTable{
    margin-left: 25%;
    background-color: white;
    padding: 0px;
    border-bottom: #FFA500 20px solid;
    font-size: 1vw;
}

/* ALARM */

#alarmTitle{
    padding: 10px;
    color: white;
    background-color: #0056B3;
}


#alarmTable{
    border-style: solid;
    border-color: #0056B3;
    flex: 1;
}

#formLayout{
    float: right;
    line-height: 40px;
    z-index: 1;
}

#alarmTableHeader{
    background-color: #0056B3;
    color: white;
}

#addGuest{
float: right;
line-height: 120%;
color: white;
z-index: 1;
}

.alarmAddBtn{
    background-color: darkgreen;
    color: white;
    font-size: 1vw;
}

.alarmEditBtn{
    background-color: orange;
    color: white;
    font-size: 1vw;
}

.alarmDeleteBtn{
    background-color: red;
    color: white;
    font-size: 1vw;
}

/* TAXI */

#taxiTitle{
    padding: 10px;
    color: white;
    background-color: #0056B3;
}


@media  screen and (max-width: 1024px) {
    #homeIcon {margin-right: 66%;}
    #addGuestManage {padding-left: 50% !important;}
    #addGuest {line-height: 70% !important;}
}

/* Guests */
#guestTableContainer{
    margin-left: 22.5%;
    margin-top: 3%;
}