/* LAYOUT ADMIN*/

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
}


body {
    font-family: OpenSansLight, sans-serif;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}



#main_container {
    display: flex;
    min-height: 100%;
}

nav {
    width: 200px;
    background-color: #2C2E2F;
    min-width: 180px;
}

nav header {
    position: relative;
    height: 120px;
    padding: 20px 0 0 15px;
    font-size: 16px;
    color: #fff;
    background-color: #2C2E2F;
    vertical-align: middle;
}


#separator{
    padding-top: 0px;
    margin-top: 0px;
    border-width: 2px;
    border-color: white;
}

#separator2{
    margin: 0px -20px 20px -20px;
    border-width: 40px;
    border-color: white;
}


#services, #guests{
    font-size: 20px;
    color: #979898;
    padding-left: 14px;
    padding-top: 10px;
}

#servicesList{
    list-style-type: none;
    background-color: #2C2E2F;
}

#itemDropdown{
    color: #979898;
    position: relative;
    display: block;

}

#itemDropdown:hover, #guests:hover  {
    background-color: #2C2E2F;
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
}

main > a {
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 400;
    z-index: 0;
    position: absolute;
}

main #formLayout{
    flex: 1;
    padding-bottom: 20px;
}

.flex-grid, #flexNavbar{
    display: flex;
}

#breadNav{
    background-color: #F5F5F5;
    flex: 8;
}

/* ADMIN DASHBOARD */

.flex-grid > div{
    flex: 1;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    background: #fff;
    padding: 40px 20px 40px 20px;
    font-size: 2vw;
    border-radius: 0px;
}

.flex-grid > a{
    flex: 1;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 40px 20px 40px 20px;
    font-size: 2vw;
    border-radius: 0px;
}

#bookingsBtn {
    background-image: url("../img/admin/calendar.png");
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: right center;
    border-bottom: 20px solid #2160A6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

#bookingsBtn:active, #newBookingBtn:active, #checkOutBtn:active, #checkInBtn:active{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#checkInBtn {
    background-image: url("../img/admin/leftArrow.png");
    background-size: 77%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center center;
    border-bottom: 20px solid #004101;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

#checkOutBtn {
    background-image: url("../img/admin/rightArrow.png");
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center center;
    border-bottom: 20px solid #880015;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

#newBookingBtn{
    background-image: url("../img/admin/plusCalendar.png");
    background-size: 40%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: right center;
    border-bottom: 20px solid #272727;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

#pendingOrdersList{
    list-style-type: none;
}

#pendingOrdersList > li{
    border: 1px solid #979898;
    padding: 10px;
    text-align: left;
    font-size: 1vw;
}

#dispatchedOrdersList{
    list-style-type: none;
}

#dispatchedOrdersList > li{
    border: 1px solid #979898;
    padding: 10px;
    text-align: left;
    font-size: 1vw;
}

#pendingOrdersHeader{
    background-color: #F39C12;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dispatchedOrdersHeader{
    background-color: #218838;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pendingOrdersBody{
    border-style: solid;
    border-color: #F39C12;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dispatchedOrdersBody{
    border-style: solid;
    border-color: #218838;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagination a {
    color: black;
    font-size: 12px;
}

.pagination a:active {
    color: blue;
}

.pagination a:visited {
    color: #979898;
}

.pagination li {
    display:inline-block;
    padding:5px;

}

/*CHECK-IN*/

#checkInTitle{
    padding: 10px;
    color: white;
    background-color: #28A745;

}

#checkInTableHeader{
    background-color: #28A745;
    color: white;

}

#checkInTable{
    flex: 1;
    background-color: white;
    padding: 0px;
    border-style: solid;
    border-color: #28A745;
    border-bottom: #28A745 20px solid;
    font-size: 1vw;


}


/*CHECK-OUT*/

#checkOutTitle{
    padding: 10px;
    color: white;
    background-color: #DC3545;
}

#checkOutTableHeader{
    background-color: #DC3545;
    color: white;
}

#checkOutTable{
    flex: 1;
    background-color: white;
    padding: 0px;
    border-style: solid;
    border-color: #DC3545;
    border-bottom: #DC3545 20px solid;
    font-size: 1vw;
}

#exitBtn{
    background-color: #DC3545;
    color: white;
}

/* NEW BOOKING*/

#newBookingTitle{
    padding: 10px;
    color: white;
    background-color: #5A6268;
}

#newBookingPanel{
    flex: 1;
    background-color: white;
    border-style: solid;
    border-color: #5A6268;
    border-bottom: #5A6268 20px solid;

}

.panel-heading {
    padding: 0;
}

.panel-heading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.panel-heading li {
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    padding: 14px 16px;
    text-align: center;
    font-size: 18px;
}

.panel-heading li:first-child:hover {
    background-color: #ccc;
}

.panel-heading li:last-child {
    border-right: none;
}

.panel-heading li a:hover {
    text-decoration: none;
}

.table.table-bordered tbody td {
    vertical-align: baseline;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

fieldset > label {
    font-size: 14px;
}

legend {
    font-size: 18px !important;
    font-weight: bold;
    text-align: left;
}

/* ALARM */

#serviceTitle{
    padding: 10px;
    color: white;
    background-color: #0056B3;
}


#serviceTable{

    flex: 1;
}

/*#formLayout{
    float: right;
    line-height: 20%;
    z-index: 1;
}*/

#serviceTableHeader{
    background-color: #0056B3;
    color: white;
}

#addGuest{
float: right;
line-height: 120%;
color: white;
z-index: 1;
}

.serviceAddBtn{
    background-color: darkgreen;
    color: white;
    font-size: 1vw;
}

.serviceEditBtn{
    background-color: orange;
    color: white;
    font-size: 1vw;
}

.serviceDeleteBtn{
    background-color: red;
    color: white;
    font-size: 1vw;
}

/* Guests */
::-webkit-scrollbar {
    display: none;
}

@media  screen and (max-width: 1024px) {
    #addGuestManage {padding-left: 50% !important;}
    #addGuest {line-height: 100% !important;}
}

