/*---------------------FONTS-------------------------*/
:root {
    --colorBody: #E1E1E1 /*#2B2B2B*/;
    --colorNav: #36A7FC /*#252C4B*/;
    --colorSecond: #46CE90;

    --colorSubMenu: #151515; /*#E1E1E1*/
    --shadows: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: OswaldLight;
    src: url(../fonts/Oswald-Light.ttf) format("truetype");
}

@font-face {
    font-family: OswaldBold;
    src: url(../fonts/Oswald-Bold.ttf) format("truetype");
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSansCondensed-Light.ttf) format("truetype");
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSansCondensed-Bold.ttf) format("truetype");
}

/*-----------------------------------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: OpenSansLight;

}

/*-----------HEADER------------------*/
select {
    width: 50%;
}

body {
    background-color: var(--colorBody);
}

nav {
    background-color: var(--colorSecond);
    padding: 1rem;
    padding-left: 50px;
    color: black;
    display: flex;
    font-weight: 600;
}

#subMenu {
    display: flex;
    background-color: var(--colorSubMenu) /*#E1E1E1*/;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;

}

#nav1 {
    width: 93%;
    font-weight: bolder;
}

#subMenu1 {
    padding-top: 6px;
    margin-left: 1rem;
    width: 93%;

}

#subMenu1 > a {
    color: white;
}

#subMenu1 > a:hover {
    color: red;
}

#inOut {
    width: 100%;
    text-align: center;

}

#main_container {
    padding-top: 1rem;
    color: white;
}

/*-----------------------------------*/
#out {
    position: absolute;
    width: 100%;
    background: transparent;
    color: black;

    top: 25%;
    min-height: 90px;
    padding: 50px;
    display: flex;
    justify-content: center;

}

.blur {
    filter: blur(1px);
    opacity: 0.4;
}

.containerMenuOut {
    box-shadow: var(--shadows);
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    min-width: 200px;
    background-color: white;

}

/*-----------------------------*/

.bttnServices {
    margin: 10px;
    color: white;
    padding: 0px;

    background-color: var(--colorSubMenu);
    box-shadow: var(--shadows);
}

.bttnServices img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.serviceName {
    text-align: center;
    padding: 0px;
}

.servicesTop {
    width: 100%;
    position: relative;
}

.servicesBottom, .servicesTop {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------- DESCRIPCION SERVICIOS ------*/
.serviceDescription {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    width: 100%;

    transition: .5s ease;

}

.bttnServices:hover .serviceDescription {
    bottom: 0;
    height: 100%;
}

.textDesc {
    white-space: nowrap;
    color: black;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*----- SLIDER -------*/
.tns-item {
    padding-right: 100px !important;
    font-size: 120%;
    text-align: center;
    width: 100%;
}

.tns-controls {
    color: white;
    font-size: 30px;
}

.tns-controls > button:first-child {
    visibility: hidden;
}

.tns-controls > button:first-child:after {
    visibility: visible;
    content: "<";

}

.tns-controls > button:nth-child(2) {
    visibility: hidden;
}

.tns-controls > button:nth-child(2):after {
    visibility: visible;
    content: ">";

}

.tns-controls {
    display: flex;
    justify-content: space-around;
    background-color: var(--colorSecond);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: black;
    border: none !important;
}

/*-------------------*/
.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.fade-enter-active {
    transition: opacity .8s;
}

.fade-leave-active {
    opacity: 0;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

/*-----------------*/
.windowService {
    width: 60%;
    background: white;
    color: black;
    position: absolute;
    box-shadow: var(--shadows);
}

.windows {
    display: flex;
    justify-content: center;

}

.returnWindow {
    color: black;
    left: -500px;
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.returnWindow:hover {
    color: var(--colorSecond);
}

.windowTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 20px;
}

.windowDesc {
    background-color: var(--colorSubMenu);
    padding: 10px;
    color: white;
}

/*.servicesTop, .servicesBottom {*/
/*display: flex;*/
/*justify-content: center;*/

/*}*/

/*.servicesTop {*/
/*margin-bottom: 2rem;*/
/*}*/
/*.servicesTop > div:first-child, .servicesBottom > div:first-child{*/
/*margin-right:2rem;*/
/*}*/

footer {
    background-color: var(--colorSecond);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: black;
    border: none !important;
}

/*--------------TOGGLE BUTTON----------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: red;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "OUT";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

input:checked + .slider {
    background-color: green;

}

input:checked + .slider:before {
    content: "IN";
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*-----------------------------------------*/
/**/

@media (max-width: 450px) {
    .windowService {
        width: 90%;
    }
}