@media (max-width: 400px) {
    nav {
        padding: 2rem;
        font-size:2rem;
    }
    #nav1 {
        width: 85%;
    }
    nav h3{
        font-size:3rem;
    }
    nav span{
        font-size:1.5rem!important;
    }

    #subMenu {
        padding: 1.5rem;
        margin-bottom:2rem;
    }

    #main_container {
        padding-top: 1rem;
    }

    #servicesHome {
        width: 60%;

    }
    #servicesTop{
        margin-bottom:2rem;
    }
    #servicesTop > div:first-child, #servicesBottom > div:first-child{
        margin-right:2rem;
    }

    .bttnDirection {
        width: 20%;
    }

    .bttnServices {
        width: 20rem;
        height: 25rem;
        border-radius: 20px;
        box-shadow: none;
    }

    .bttnServices p {
        padding: 1rem;
        font-size:2rem;

    }



    /*--------------TOGGLE BUTTON----------------*/
    .slider{
        font-size:40px!important;

    }
    .switch {
        width: 160px;
        height: 70px;
    }

    .slider:before {
        content: "OUT";
        height: 60px;
        width: 75px;
        left: 4px;
        bottom: 4px;

    }

    input:checked + .slider:before{
        content: "IN";
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(75px);
        -ms-transform: translateX(75px);
        transform: translateX(75px);
    }

}