body{
    background-color: white;
}

#tileTitle{
    color: var(--colorNav);
}

#tilesubTitle{
    color: var(--colorSecond);
}

#m01-01 {
    background-color: var(--colorBody);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin:20px;
    margin-left: 25%;
}

#m01-02 {
    background-color: var(--colorSecond);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin:20px;
}


#m01-03 {
    background-color: var(--colorNav);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin:20px;
}

#m01-04 {
    background-color: var(--colorSubMenu);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin:20px;
}

#m01-05 {
    background-color: var(--shadows);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin:20px;
}


.logo {
    text-align: center; }
